.header-contact {
    display: flex;
    margin-left: auto;
    column-gap: 50px;

    &__link {
        color: var(--item-text-color);
        font-weight: 500;
        letter-spacing: 0.28px;
        text-decoration: none;
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        align-items: center;
        transition-property: color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        fill: var(--item-text-color);

        &:hover,
        &:focus {
            color: var(--link-text-color);
            fill: var(--link-text-color);
        }

    }
}


.footer-contact{
    &__iteam{
        padding-bottom: 9px;
    }    
    &__link {
        color: rgba(255, 255, 255, 0.60);
        line-height: 171.429%;
        /* 24px */
        letter-spacing: 0.42px;
        text-decoration: none;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        padding-bottom: 9px;
    
        &:hover,
        &:focus {
            color: var(--link-text-color);
    
        }
    }
}
